.textPanel {
    width: 25%;
    border-right: 1px solid gray;
    padding: 16px;
    height: 100%;
}

.textPanelTitleContainer {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background: rgba(255,255,255,0.5); 
    margin-bottom: 16px;
    z-index: 10;
    font-size: 24px;
    min-height: 15%;
}

.textPanelText {
    overflow-y:scroll;
    max-height: 85%;
    padding-bottom: 16px;
    padding-right: 8px;
}

.textPanelDate {
    margin-bottom: 16px;
}

