.footerContainer {
    background-color: red;
    display: flex;
    align-items: center;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.footerText {
    color:white;
    font-size: 24px;
    font-weight:bold;
    margin: 16px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.footerText:hover {
    text-decoration: underline;
}

.contactLink { 
    color: #A2F2FD;
}

.contactLink:hover {
    text-decoration: underline;
    
}

.resource {
    margin-bottom: 32px;
}