.date {
    color:white;
    margin: 13px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.date:hover {
    text-decoration: underline;
}

.selectedDate.date {
    color:red;
}

.timelineContainer {
    display:flex;
    align-items: center;
    cursor: pointer;
}