.date {
    color:white;
    margin: 13px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}

.date:hover {
    text-decoration: underline;
}

.selectedDate.date {
    color:red;
}

.timelineContainer {
    display:flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.timelineContainer:before {
    border-top: 2px solid red;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

.timelinePageContainer {
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}