
#root {
  --media-image-height: 325px;
  --media-image-width: 250px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.contentContainer {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  min-height: 2em;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.ui.modal>.header:not(.ui) {
  font-family: 'Bebas Neue', cursive!important;
  font-size: 40px;
  font-style: italic;
  color: white;
}

.ui.modal, .ui.modal>.header, .ui.modal>.content{
  background: black!important;
  color: white;
}
